@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

.attribution { 
    margin-top: 10px;
    color: #fff;
    font-size: 11px; text-align: center; 
}

.attribution a { 
    text-decoration: none;
    color: hsl(228, 45%, 44%); 
}

.attribution a:hover{
    text-decoration: underline;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 400px;
    height: 380px;
    background-color: #212832;
}

.celular-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.celular-icon{
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.numero-selecionado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    color: hsl(25, 97%, 53%);
    margin-top: 20px;
    height: 30px;
    width: 260px;
    border-radius: 15px;
    background-color: #262F38;
}

.textos{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 25px;
    margin-top: 25px;
    color: #fff;
}

.sub-title{
    margin-top: 15px;
    line-height: 22px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    opacity: 25%;
}

.sub-title-mobile{
    display: none;
}

@media (max-width: 2117px){
    .attribution{
        font-size: 30px;
    }

    .card{
        border-radius: 20px;
        width: 700px;
        height: 780px;
    }

    .celular-icon{
        width: 400px;
    }
    
    .numero-selecionado{
        font-size: 20px;
        height: 70px;
        width: 500px;
        border-radius: 30px;
    }

    .title{
        font-size: 70px;
    }

    .sub-title{
        font-size: 30px;
        line-height: 50px;
    }
}

@media (max-width: 1097px){
    .attribution{
        font-size: 25px;
    }

    .card{
        border-radius: 20px;
        width: 600px;
        height: 720px;
    }

    .celular-icon{
        width: 320px;
    }
    
    .numero-selecionado{
        font-size: 20px;
        height: 60px;
        width: 350px;
        border-radius: 30px;
    }

    .title{
        font-size: 50px;
    }

    .sub-title-mobile{
        display: flex;
        margin-top: 15px;
        line-height: 50px;
        font-size: 30px;
        text-align: center;
        color: #fff;
        opacity: 25%;
    }

    .sub-title{
        display: none;
    }
}

@media (max-width: 830px){
    .attribution{
        font-size: 23px;
    }

    .card{
        border-radius: 20px;
        width: 500px;
        height: 620px;
    }

    .celular-icon{
        width: 300px;
    }

    .sub-title-mobile{
        display: flex;
        margin-top: 15px;
        line-height: 40px;
        font-size: 25px;
        text-align: center;
        color: #fff;
        opacity: 25%;
    }

    .sub-title{
        display: none;
    }
}

@media(max-width: 720px){
    .attribution{
        font-size: 20px;
    }

    .card{
        border-radius: 20px;
        width: 400px;
        height: 720px;
    }

    .celular-icon{
        width: 270px;
    }
    
    .numero-selecionado{
        font-size: 20px;
        height: 60px;
        width: 350px;
        border-radius: 30px;
    }

    .title{
        font-size: 50px;
    }

    .sub-title-mobile{
        display: flex;
        margin-top: 15px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
        color: #fff;
        opacity: 25%;
    }

    .sub-title{
        display: none;
    }
}

@media(max-width: 620px){
    .card{
        border-radius: 20px;
        width: 300px;
        height: 720px;
    }

    .celular-icon{
        width: 220px;
    }
    
    .numero-selecionado{
        font-size: 15px;
        height: 40px;
        width: 250px;
        border-radius: 30px;
    }

    .title{
        font-size: 50px;
    }

    .sub-title-mobile{
        display: flex;
        margin-top: 15px;
        line-height: 50px;
        font-size: 25px;
        text-align: center;
        color: #fff;
        opacity: 25%;
    }

    .sub-title{
        display: none;
    }
}

@media(max-width:500px){
    .attribution{
        font-size: 15px;
    }

    .card{
        margin-top: -40px;
        border-radius: 20px;
        width: 300px;
        height: 420px;
    }

    .celular-icon{
        width: 200px;
    }
    
    .numero-selecionado{
        font-size: 10px;
        height: 60px;
        width: 200px;
        border-radius: 30px;
    }

    .title{
        font-size: 30px;
    }

    .sub-title-mobile{
        display: flex;
        margin-top: 15px;
        line-height: 22px;
        font-size: 15px;
        text-align: center;
        color: #fff;
        opacity: 25%;
    }

    .sub-title{
        display: none;
    }
}
